
CREATE DATABASE [Bibliotheque]
GO
USE [Bibliotheque]
GO
/****** Object:  Table [dbo].[administrateur]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrateur](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
	[prenom] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[login] [varchar](255) NOT NULL,
	[motDePasse] [varchar](255) NOT NULL,
	[dateNaissance] [date] NOT NULL,
	[adresse] [varchar](255) NOT NULL,
	[telephone] [varchar](255) NULL,
	[idRole] [int] NOT NULL,
	[isDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[administrationAdmin]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrationAdmin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[action] [varchar](255) NOT NULL,
	[raison] [varchar](255) NOT NULL,
	[idAdministrateurCible] [int] NULL,
	[idAdministrateur] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[administrationBiblio]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrationBiblio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[action] [varchar](255) NOT NULL,
	[raison] [varchar](255) NOT NULL,
	[idBibliotheque] [int] NULL,
	[idAdministrateur] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[administrationExemplaire]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrationExemplaire](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[action] [varchar](255) NOT NULL,
	[raison] [varchar](255) NOT NULL,
	[idExemplaire] [int] NULL,
	[idAdministrateur] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[administrationLivre]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrationLivre](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[action] [varchar](255) NOT NULL,
	[raison] [varchar](255) NOT NULL,
	[idLivre] [int] NULL,
	[idAdministrateur] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[administrationUtilisateur]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrationUtilisateur](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[action] [varchar](255) NOT NULL,
	[raison] [varchar](255) NOT NULL,
	[idUtilisateur] [int] NULL,
	[idAdministrateur] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[amende]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amende](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[montant] [float] NOT NULL,
	[paye] [bit] NOT NULL,
	[idUtilisateur] [int] NULL,
	[idLocation] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[avis]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[avis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[note] [float] NOT NULL,
	[commentaire] [varchar](max) NULL,
	[idUtilisateur] [int] NULL,
	[idLivre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bibliotheque]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bibliotheque](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
	[adresse] [varchar](255) NOT NULL,
	[telephone] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[web] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[amendeMontant] [float] NOT NULL,
	[cotisationPrix] [float] NOT NULL,
	[nbLocationMax] [int] NOT NULL,
	[dureePret] [int] NOT NULL,
	[isDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[communication]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[communication](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[raison] [varchar](max) NOT NULL,
	[idUtilisateur] [int] NULL,
	[idAdministrateur] [int] NULL,
	[objet] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cotisation]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cotisation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[idUtilisateur] [int] NULL,
	[idBibliotheque] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[etat]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exemplaire]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exemplaire](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idLivre] [int] NOT NULL,
	[idBibliotheque] [int] NOT NULL,
	[idEtat] [int] NOT NULL,
	[disponible] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lien] [varchar](255) NOT NULL,
	[description] [varchar](255) NULL,
	[idLivre] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[livre]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[livre](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
	[EAN] [varchar](255) NULL,
	[ISBN] [varchar](255) NULL,
	[edition] [varchar](255) NOT NULL,
	[prix] [float] NOT NULL,
	[synopsis] [varchar](max) NOT NULL,
	[numerique] [bit] NOT NULL,
	[auteur] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[livreTheme]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[livreTheme](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idLivre] [int] NULL,
	[idTheme] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[location]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateDebut] [date] NOT NULL,
	[dateFin] [date] NOT NULL,
	[dateRetour] [date] NULL,
	[idExemplaire] [int] NULL,
	[idUtilisateur] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[responsable]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[responsable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idAdministrateur] [int] NOT NULL,
	[idBibliotheque] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theme]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theme](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utilisateur]    Script Date: 15-06-20 20:54:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utilisateur](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
	[prenom] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[login] [varchar](255) NOT NULL,
	[motDePasse] [varchar](255) NOT NULL,
	[dateNaissance] [date] NOT NULL,
	[adresse] [varchar](255) NOT NULL,
	[telephone] [varchar](255) NULL,
	[isDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[administrateur] ON 

INSERT [dbo].[administrateur] ([id], [nom], [prenom], [email], [login], [motDePasse], [dateNaissance], [adresse], [telephone], [idRole], [isDeleted]) VALUES (1, N'Praet', N'Benoît', N'benoit.praet@hotmail.be', N'Stimouk', N'$2y$12$UdHwwRnwh/bNO7Kgp9mv8uTZgSelTzKR2Cxi9OvM..my04xjw85gO', CAST(N'1996-10-29' AS Date), N'Rue Allard Cambier 1, 7160 Piéton', N'+32496147975', 1, 0)
INSERT [dbo].[administrateur] ([id], [nom], [prenom], [email], [login], [motDePasse], [dateNaissance], [adresse], [telephone], [idRole], [isDeleted]) VALUES (3, N'Sips', N'Muriel', N'pottekepis@hotmail.com', N'Mumu', N'$2y$12$T9lG7JtTLMu0JADyMWwMyOcdjNXe2LvBv8zY2bLIBrifpMR.xdWWq', CAST(N'1969-03-25' AS Date), N'Rue Allard Cambier 1, 7160 Piéton', N'+32477946092', 2, 0)
INSERT [dbo].[administrateur] ([id], [nom], [prenom], [email], [login], [motDePasse], [dateNaissance], [adresse], [telephone], [idRole], [isDeleted]) VALUES (4, N'Linus', N'Tux', N'tux@linus.be', N'Tux', N'$2y$12$eT3UBXSTcwBhhUwlgbS.durbl.v2VtBXaIzNn5j.TFvhvCzlilkZ2', CAST(N'1980-01-17' AS Date), N'Rue du pont 18, 6000 Charleroi', N'+1234567899', 3, 0)
SET IDENTITY_INSERT [dbo].[administrateur] OFF
GO
SET IDENTITY_INSERT [dbo].[administrationBiblio] ON 

INSERT [dbo].[administrationBiblio] ([id], [date], [action], [raison], [idBibliotheque], [idAdministrateur]) VALUES (21, CAST(N'2020-02-03T19:57:21.6090000' AS DateTime2), N'ADD', N'Nouvelle bibliothèque', 19, 1)
INSERT [dbo].[administrationBiblio] ([id], [date], [action], [raison], [idBibliotheque], [idAdministrateur]) VALUES (22, CAST(N'2020-02-03T20:00:34.7640000' AS DateTime2), N'UPDATE', N'testRaison', 19, 1)
INSERT [dbo].[administrationBiblio] ([id], [date], [action], [raison], [idBibliotheque], [idAdministrateur]) VALUES (23, CAST(N'2020-02-03T20:04:04.8850000' AS DateTime2), N'DELETE', N'Suppression bibliothèque', 19, 1)
SET IDENTITY_INSERT [dbo].[administrationBiblio] OFF
GO
SET IDENTITY_INSERT [dbo].[administrationExemplaire] ON 

INSERT [dbo].[administrationExemplaire] ([id], [date], [action], [raison], [idExemplaire], [idAdministrateur]) VALUES (13, CAST(N'2020-02-03T20:17:40.8660000' AS DateTime2), N'ADD', N'Nouvel exemplaire', 11, 1)
INSERT [dbo].[administrationExemplaire] ([id], [date], [action], [raison], [idExemplaire], [idAdministrateur]) VALUES (14, CAST(N'2020-02-03T20:19:03.9580000' AS DateTime2), N'DELETE', N'Suppression exemplaire', 11, 1)
INSERT [dbo].[administrationExemplaire] ([id], [date], [action], [raison], [idExemplaire], [idAdministrateur]) VALUES (15, CAST(N'2020-06-08T18:30:41.5340000' AS DateTime2), N'UPDATE', N'test', 3, 1)
SET IDENTITY_INSERT [dbo].[administrationExemplaire] OFF
GO
SET IDENTITY_INSERT [dbo].[administrationLivre] ON 

INSERT [dbo].[administrationLivre] ([id], [date], [action], [raison], [idLivre], [idAdministrateur]) VALUES (6, CAST(N'2020-02-03T19:49:47.8510000' AS DateTime2), N'ADD', N'Nouveau livre', 5, 1)
INSERT [dbo].[administrationLivre] ([id], [date], [action], [raison], [idLivre], [idAdministrateur]) VALUES (7, CAST(N'2020-02-03T19:50:42.7440000' AS DateTime2), N'ADD', N'Nouveau livre', 6, 1)
INSERT [dbo].[administrationLivre] ([id], [date], [action], [raison], [idLivre], [idAdministrateur]) VALUES (8, CAST(N'2020-02-03T19:53:12.8380000' AS DateTime2), N'UPDATE', N'testRaison', 5, 1)
SET IDENTITY_INSERT [dbo].[administrationLivre] OFF
GO
SET IDENTITY_INSERT [dbo].[administrationUtilisateur] ON 

INSERT [dbo].[administrationUtilisateur] ([id], [date], [action], [raison], [idUtilisateur], [idAdministrateur]) VALUES (11, CAST(N'2020-02-03T20:36:11.9000000' AS DateTime2), N'UPDATE', N'testRaison', 7, 1)
INSERT [dbo].[administrationUtilisateur] ([id], [date], [action], [raison], [idUtilisateur], [idAdministrateur]) VALUES (12, CAST(N'2020-02-03T20:38:05.1710000' AS DateTime2), N'DELETE', N'Suppression utilisateur', 7, 1)
SET IDENTITY_INSERT [dbo].[administrationUtilisateur] OFF
GO
SET IDENTITY_INSERT [dbo].[avis] ON 

INSERT [dbo].[avis] ([id], [note], [commentaire], [idUtilisateur], [idLivre]) VALUES (3, 8, N'Très bon livre', 7, 1)
SET IDENTITY_INSERT [dbo].[avis] OFF
GO
SET IDENTITY_INSERT [dbo].[bibliotheque] ON 

INSERT [dbo].[bibliotheque] ([id], [nom], [adresse], [telephone], [email], [web], [description], [amendeMontant], [cotisationPrix], [nbLocationMax], [dureePret], [isDeleted]) VALUES (1, N'Bibliotheque du T''chatpitre', N'Rue Saint-Germain 10, 7160 Chapelle-Lez-Herlaimont', N'064441709', N'bibliotheque@chapelle-lez-herlaimont.be', N'bibliothequechapelle.wixsite.com/bibliothequechapelle', N'Bibliothèque de Chapelle-Lez-Herlaimont', 10, 15, 4, 14, 0)
INSERT [dbo].[bibliotheque] ([id], [nom], [adresse], [telephone], [email], [web], [description], [amendeMontant], [cotisationPrix], [nbLocationMax], [dureePret], [isDeleted]) VALUES (2, N'Bibliotheque de Fontaine', N'Place de Wallonie 15, 6140 Fontaine-L''Evêque', N'071524193', N'bibliotheque@villedefontaine.be', N'bibliothequedefontaine-leveque.blogspot.com', N'Bibliotheque de Fontaine l''éveque', 15, 10, 2, 7, 0)
INSERT [dbo].[bibliotheque] ([id], [nom], [adresse], [telephone], [email], [web], [description], [amendeMontant], [cotisationPrix], [nbLocationMax], [dureePret], [isDeleted]) VALUES (19, N'testNomModif', N'testAdresse', N'123456789', N'test@test.test', N'test.test', N'testDescription', 10, 10, 5, 7, 0)
SET IDENTITY_INSERT [dbo].[bibliotheque] OFF
GO
SET IDENTITY_INSERT [dbo].[communication] ON 

INSERT [dbo].[communication] ([id], [date], [raison], [idUtilisateur], [idAdministrateur], [objet]) VALUES (10, CAST(N'2020-02-03T19:08:50.7150000' AS DateTime2), N'Ceci est un message test au support', 7, 1, N'test support')
INSERT [dbo].[communication] ([id], [date], [raison], [idUtilisateur], [idAdministrateur], [objet]) VALUES (11, CAST(N'2020-02-03T19:08:53.3210000' AS DateTime2), N'Ceci est un message test au support', 7, 1, N'test support')
INSERT [dbo].[communication] ([id], [date], [raison], [idUtilisateur], [idAdministrateur], [objet]) VALUES (12, CAST(N'2020-02-10T10:17:24.4990000' AS DateTime2), N'testMessage', 7, 1, N'testObjet')
SET IDENTITY_INSERT [dbo].[communication] OFF
GO
SET IDENTITY_INSERT [dbo].[cotisation] ON 

INSERT [dbo].[cotisation] ([id], [date], [idUtilisateur], [idBibliotheque]) VALUES (8, CAST(N'2020-02-03' AS Date), 7, 1)
INSERT [dbo].[cotisation] ([id], [date], [idUtilisateur], [idBibliotheque]) VALUES (20, CAST(N'2020-06-10' AS Date), 7, 20)
SET IDENTITY_INSERT [dbo].[cotisation] OFF
GO
SET IDENTITY_INSERT [dbo].[etat] ON 

INSERT [dbo].[etat] ([id], [nom], [description]) VALUES (1, N'Neuf', N'Aucun pli ou autre dégat visible')
INSERT [dbo].[etat] ([id], [nom], [description]) VALUES (2, N'Légèrement abimé', N'Légères marques d''utilisation sur le livre')
SET IDENTITY_INSERT [dbo].[etat] OFF
GO
SET IDENTITY_INSERT [dbo].[exemplaire] ON 

INSERT [dbo].[exemplaire] ([id], [idLivre], [idBibliotheque], [idEtat], [disponible], [isDeleted]) VALUES (3, 1, 1, 2, 1, 0)
INSERT [dbo].[exemplaire] ([id], [idLivre], [idBibliotheque], [idEtat], [disponible], [isDeleted]) VALUES (4, 1, 2, 1, 1, 0)
INSERT [dbo].[exemplaire] ([id], [idLivre], [idBibliotheque], [idEtat], [disponible], [isDeleted]) VALUES (7, 2, 2, 2, 1, 0)
SET IDENTITY_INSERT [dbo].[exemplaire] OFF
GO
SET IDENTITY_INSERT [dbo].[image] ON 

INSERT [dbo].[image] ([id], [lien], [description], [idLivre]) VALUES (1, N'images/eragonFront.jpg', N'Couverture eragon', 1)
SET IDENTITY_INSERT [dbo].[image] OFF
GO
SET IDENTITY_INSERT [dbo].[livre] ON 

INSERT [dbo].[livre] ([id], [nom], [EAN], [ISBN], [edition], [prix], [synopsis], [numerique], [auteur]) VALUES (1, N'Eragon', N'', N'9780966621334', N'Bayard Jeunesse', 12.899999618530273, N'Histoire de dragons', 0, N'Christopher Paolini')
INSERT [dbo].[livre] ([id], [nom], [EAN], [ISBN], [edition], [prix], [synopsis], [numerique], [auteur]) VALUES (3, N'Star Wars 1', N'284055383X', N'9782840553830', N'Delcourt', 5.5900001525878906, N'La menace fantôme', 0, N'Damaggio, Wiliamson')
SET IDENTITY_INSERT [dbo].[livre] OFF
GO
SET IDENTITY_INSERT [dbo].[location] ON 

INSERT [dbo].[location] ([id], [dateDebut], [dateFin], [dateRetour], [idExemplaire], [idUtilisateur]) VALUES (41, CAST(N'2020-06-16' AS Date), CAST(N'2020-06-30' AS Date), NULL, 11, 7)
SET IDENTITY_INSERT [dbo].[location] OFF
GO
SET IDENTITY_INSERT [dbo].[responsable] ON 

INSERT [dbo].[responsable] ([id], [idAdministrateur], [idBibliotheque]) VALUES (2, 3, 1)
INSERT [dbo].[responsable] ([id], [idAdministrateur], [idBibliotheque]) VALUES (4, 4, 2)
SET IDENTITY_INSERT [dbo].[responsable] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [nom]) VALUES (1, N'Manager général')
INSERT [dbo].[role] ([id], [nom]) VALUES (2, N'Manager')
INSERT [dbo].[role] ([id], [nom]) VALUES (3, N'Bibliothécaire')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[theme] ON 

INSERT [dbo].[theme] ([id], [nom]) VALUES (1, N'Fantastique')
INSERT [dbo].[theme] ([id], [nom]) VALUES (2, N'Thriller')
SET IDENTITY_INSERT [dbo].[theme] OFF
GO
SET IDENTITY_INSERT [dbo].[utilisateur] ON 

INSERT [dbo].[utilisateur] ([id], [nom], [prenom], [email], [login], [motDePasse], [dateNaissance], [adresse], [telephone], [isDeleted]) VALUES (1, N'Praet', N'Pascal', N'pottekepis@hotmail.com', N'papa', N'$2a$12$kWQZgIMmzkzC2m0GjW.iHOdkBczwoQhMavfbAlTPewOZfkyNqeSku', CAST(N'1969-07-19' AS Date), N'Rue Allard Cambier 1, 7160 Piéton', N'+32496147975', 0)
INSERT [dbo].[utilisateur] ([id], [nom], [prenom], [email], [login], [motDePasse], [dateNaissance], [adresse], [telephone], [isDeleted]) VALUES (2, N'Pepito', N'Blacky', N'blacky@dog.be', N'blacky', N'$2y$12$pYjOrbTI11gfr0e/rROlfO7YwuH8rernWLPZwZ7.yid/8kXNfurPW', CAST(N'2010-01-01' AS Date), N'Rue Allard Cambier 1, 7160 Piéton', NULL, 0)
INSERT [dbo].[utilisateur] ([id], [nom], [prenom], [email], [login], [motDePasse], [dateNaissance], [adresse], [telephone], [isDeleted]) VALUES (6, N'Ben', N'Praet', N'benoit@praet.dev', N'pottekepis', N'$2a$12$sws3uxrOkKqz9ejmoScI/eMmZcKlwqjPyVG.qAF07w5KgkjgMHZ6i', CAST(N'1996-10-29' AS Date), N'Rue de test 1, 1111 Test', N'123456789', 0)
SET IDENTITY_INSERT [dbo].[utilisateur] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__utilisat__7838F2728120FAB3]    Script Date: 15-06-20 20:54:33 ******/
ALTER TABLE [dbo].[utilisateur] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[administrateur] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[bibliotheque] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[exemplaire] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[utilisateur] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[administrateur]  WITH CHECK ADD FOREIGN KEY([idRole])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[administrationAdmin]  WITH CHECK ADD FOREIGN KEY([idAdministrateurCible])
REFERENCES [dbo].[administrateur] ([id])
GO
ALTER TABLE [dbo].[administrationAdmin]  WITH CHECK ADD FOREIGN KEY([idAdministrateur])
REFERENCES [dbo].[administrateur] ([id])
GO
ALTER TABLE [dbo].[administrationBiblio]  WITH CHECK ADD FOREIGN KEY([idAdministrateur])
REFERENCES [dbo].[administrateur] ([id])
GO
ALTER TABLE [dbo].[administrationBiblio]  WITH CHECK ADD FOREIGN KEY([idBibliotheque])
REFERENCES [dbo].[bibliotheque] ([id])
GO
ALTER TABLE [dbo].[administrationExemplaire]  WITH CHECK ADD FOREIGN KEY([idAdministrateur])
REFERENCES [dbo].[administrateur] ([id])
GO
ALTER TABLE [dbo].[administrationExemplaire]  WITH CHECK ADD FOREIGN KEY([idExemplaire])
REFERENCES [dbo].[exemplaire] ([id])
GO
ALTER TABLE [dbo].[administrationLivre]  WITH CHECK ADD FOREIGN KEY([idAdministrateur])
REFERENCES [dbo].[administrateur] ([id])
GO
ALTER TABLE [dbo].[administrationLivre]  WITH CHECK ADD FOREIGN KEY([idLivre])
REFERENCES [dbo].[livre] ([id])
GO
ALTER TABLE [dbo].[administrationUtilisateur]  WITH CHECK ADD FOREIGN KEY([idAdministrateur])
REFERENCES [dbo].[administrateur] ([id])
GO
ALTER TABLE [dbo].[administrationUtilisateur]  WITH CHECK ADD FOREIGN KEY([idUtilisateur])
REFERENCES [dbo].[utilisateur] ([id])
GO
ALTER TABLE [dbo].[amende]  WITH CHECK ADD FOREIGN KEY([idLocation])
REFERENCES [dbo].[location] ([id])
GO
ALTER TABLE [dbo].[amende]  WITH CHECK ADD FOREIGN KEY([idUtilisateur])
REFERENCES [dbo].[utilisateur] ([id])
GO
ALTER TABLE [dbo].[avis]  WITH CHECK ADD FOREIGN KEY([idLivre])
REFERENCES [dbo].[livre] ([id])
GO
ALTER TABLE [dbo].[avis]  WITH CHECK ADD FOREIGN KEY([idUtilisateur])
REFERENCES [dbo].[utilisateur] ([id])
GO
ALTER TABLE [dbo].[communication]  WITH CHECK ADD FOREIGN KEY([idAdministrateur])
REFERENCES [dbo].[administrateur] ([id])
GO
ALTER TABLE [dbo].[communication]  WITH CHECK ADD FOREIGN KEY([idUtilisateur])
REFERENCES [dbo].[utilisateur] ([id])
GO
ALTER TABLE [dbo].[cotisation]  WITH CHECK ADD FOREIGN KEY([idBibliotheque])
REFERENCES [dbo].[bibliotheque] ([id])
GO
ALTER TABLE [dbo].[cotisation]  WITH CHECK ADD FOREIGN KEY([idUtilisateur])
REFERENCES [dbo].[utilisateur] ([id])
GO
ALTER TABLE [dbo].[exemplaire]  WITH CHECK ADD FOREIGN KEY([idBibliotheque])
REFERENCES [dbo].[bibliotheque] ([id])
GO
ALTER TABLE [dbo].[exemplaire]  WITH CHECK ADD FOREIGN KEY([idEtat])
REFERENCES [dbo].[etat] ([id])
GO
ALTER TABLE [dbo].[exemplaire]  WITH CHECK ADD FOREIGN KEY([idLivre])
REFERENCES [dbo].[livre] ([id])
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD FOREIGN KEY([idLivre])
REFERENCES [dbo].[livre] ([id])
GO
ALTER TABLE [dbo].[livreTheme]  WITH CHECK ADD FOREIGN KEY([idLivre])
REFERENCES [dbo].[livre] ([id])
GO
ALTER TABLE [dbo].[livreTheme]  WITH CHECK ADD FOREIGN KEY([idTheme])
REFERENCES [dbo].[theme] ([id])
GO
ALTER TABLE [dbo].[location]  WITH CHECK ADD FOREIGN KEY([idExemplaire])
REFERENCES [dbo].[exemplaire] ([id])
GO
ALTER TABLE [dbo].[location]  WITH CHECK ADD FOREIGN KEY([idUtilisateur])
REFERENCES [dbo].[utilisateur] ([id])
GO
ALTER TABLE [dbo].[responsable]  WITH CHECK ADD FOREIGN KEY([idAdministrateur])
REFERENCES [dbo].[administrateur] ([id])
GO
ALTER TABLE [dbo].[responsable]  WITH CHECK ADD FOREIGN KEY([idBibliotheque])
REFERENCES [dbo].[bibliotheque] ([id])
GO
USE [master]
GO
