#formContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#connexionBtn{
    float: right;
}

#erreur{
    text-align: center;
    visibility: hidden;
}

mat-form-field{
    width: 50vw;
}