<div id="bookContainer">
  <div *ngFor="let livre of livresDispo" class="book">
    <mat-card>
      <div [routerLink]="admin ? ['/admin/livre', livre.id] : ['/livre', livre.id]">
      <mat-card-header>
        <mat-card-title><span id="titre">{{livre.nom}}</span></mat-card-title>
        <mat-card-subtitle>{{livre.auteur}}</mat-card-subtitle>
      </mat-card-header>
      <span class="bookImg"><img mat-card-image src="http://covers.openlibrary.org/b/isbn/{{livre.isbn}}-L.jpg" alt="Mauvais ISBN"></span>
      </div>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{livre.edition}}</mat-panel-title>
            </mat-expansion-panel-header>
            <span *ngFor="let theme of livre.themeSet">{{theme.nom}} </span>
            <span *ngIf="livre.ean != null"><br>EAN: {{livre.ean}}</span>
            <span *ngIf="livre.isbn != null"><br>ISBN: {{livre.isbn}}</span>
            <br>{{livre.synopsis}}
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngFor="let livre of livresIndispo" class="book">
    <mat-card>
      <div [routerLink]="admin ? ['/admin/livre', livre.id] : ['/livre', livre.id]">
      <mat-card-header>
        <mat-card-title>{{livre.nom}}</mat-card-title>
        <mat-card-subtitle>{{livre.auteur}}</mat-card-subtitle>
      </mat-card-header>
      <span class="bookImg"><img mat-card-image src="http://covers.openlibrary.org/b/isbn/{{livre.isbn}}-L.jpg" alt="Mauvais ISBN"></span>
      </div>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{livre.edition}}</mat-panel-title>
            </mat-expansion-panel-header>
            <span *ngFor="let theme of livre.themeSet">{{theme.nom}} </span>
            <span *ngIf="livre.ean != null"><br>EAN: {{livre.ean}}</span>
            <span *ngIf="livre.isbn != null"><br>ISBN: {{livre.isbn}}</span>
            <br>{{livre.synopsis}}
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>