<div id="bookContainer">
    
    <div id="available" *ngIf="livre.hasOwnProperty('availableNow')">
        <h2>Disponibles maintenant</h2><hr>
        <div *ngFor="let livre of livre['availableNow']" class="book">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>N°{{livre.exemplaire.id}} {{livre.exemplaire.etat.nom}} {{livre.exemplaire.bibliotheque.nom}}</mat-panel-title>
                  </mat-expansion-panel-header>
                  {{livre.exemplaire.id}}
                </mat-expansion-panel>
              </mat-accordion>
        </div>
    </div>

    <div id="soon" *ngIf="livre.hasOwnProperty('availableSoon')">
        <h2>Disponibles bientôt</h2><hr>
    </div>

    <div id="notAvailable" *ngIf="livre.hasOwnProperty('notAvailable')">
        <h2>Pas disponibles</h2><hr>
    </div>

    <div id="nothing" *ngIf="livre.hasOwnProperty('nothingAvailable')">
        <h2>Malheureusement rien n'est disponible pour le moment</h2><hr>
    </div>

</div>
