#profilContainer{
    padding-top: 100px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#adminpanelContainer{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
}

#modifyBtn{
    float: right;
}

#erreur{
    text-align: center;
    visibility: hidden;
}

.btn{
    color: #990099;
    text-decoration: underline;
    cursor: pointer;
}

.addBtn{
    display: block;
    margin: auto;
}

.adminBox{
    max-height: 200px;
    overflow-y: auto;
    width: 1000px;
}

mat-form-field{
    width: 50vw;
}