<div id="adminpanelContainer" *ngIf="isAdmin">
  <h3>Panneau d'administration</h3>
  <div id="adminBar">
    <button mat-raised-button color="primary" (click)="changeViewAdmin('bibli')">Bibliothèque</button>
    <button mat-raised-button color="primary" (click)="changeViewAdmin('livre')">Livre</button>
    <button mat-raised-button color="primary" (click)="changeViewAdmin('exemplaire')">Exemplaire</button>
    <button mat-raised-button color="primary" (click)="changeViewAdmin('location')">Location</button>
    <button mat-raised-button color="primary" (click)="changeViewAdmin('user')">Utilisateur</button>
    <button mat-raised-button color="primary" (click)="changeViewAdmin('admin')">Administrateur</button>
    <button mat-raised-button color="primary" (click)="changeViewAdmin('support')">Support</button>
  </div>
  <div *ngIf='bibli'>
    <br>
    <button mat-raised-button [routerLink]="['/admin/bibli/add']" class="addBtn">Ajouter</button>
    <ul>
      <span *ngFor="let bibliotheque of bibliotheques"><li><a [routerLink]="['/admin/bibli', bibliotheque.id]" class="btn">Update</a> | <a (click)="deleteBibli(bibliotheque.id)" class="btn">Delete</a>&nbsp;&nbsp;&nbsp;&nbsp;Id: {{bibliotheque.id}}, Nom: {{bibliotheque.nom}}</li></span>
    </ul>
  </div>
  <div *ngIf='livre'>
    <br>
    <button mat-raised-button [routerLink]="['/admin/livre/add']" class="addBtn">Ajouter</button>
    <ul>
      <span *ngFor="let livre of livres"><li><a [routerLink]="['/admin/livre', livre.id]" class="btn">Update</a>&nbsp;&nbsp;&nbsp;&nbsp;Id: {{livre.id}}, Nom: {{livre.nom}}</li></span>
    </ul>
  </div>
  <div *ngIf='exemplaire'>exemplaire</div>
  <div *ngIf='location'>location</div>
  <div *ngIf='user'>user</div>
  <div *ngIf='admin'>admin</div>
  <div *ngIf='support'>support</div>

</div>

<div id="profilContainer" *ngIf="profil">

    <form [formGroup]="profilForm" (ngSubmit)="modify()">
        <div id="erreur">{{ profilError }}</div>
        <mat-form-field>
          <mat-label>nom</mat-label>
          <input matInput formControlName="nom" required>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>prénom</mat-label>
          <input matInput formControlName="prenom" required>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>login</mat-label>
          <input matInput formControlName="login" required>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>mot de passe</mat-label>
          <input matInput type="password" formControlName="motDePasse" >
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>email</mat-label>
          <input matInput formControlName="email" type="email" required>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>telephone</mat-label>
          <input matInput formControlName="telephone" type="tel" required>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>dNaissance</mat-label>
          <input matInput formControlName="dNaissance" type="date" required>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>adresse</mat-label>
          <input matInput formControlName="adresse" required>
        </mat-form-field><br>
        <br>
        <button mat-raised-button type="submit" id="modifyBtn">Modifier</button>
        <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </form>
</div>

<div *ngIf="!isAdmin">
  <br><hr>
  <h3>Locations</h3>
  <ul>
    <span *ngFor="let location of locations"><li>Id: {{location.id}}, Date début: {{dateMilitoDate(location.dateDebut)}}, Date fin: {{dateMilitoDate(location.dateFin)}}, 
      {{location.exemplaire.bibliotheque.nom}}, Exemplaire Id: {{location.exemplaire.id}}, Livre nom: {{location.exemplaire.livre.nom}}
    </li></span>
  </ul>
  <hr>
  <h3>Amendes</h3>
  <ul>
    <span *ngFor="let amende of amendes"><li>Id: {{amende.id}}, Montant: {{amende.montant}}€, Location n°: {{amende.idLocation}}</li></span>
  </ul>
</div>