#bibliContainer{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#addBtn{
    float: right;
}

#erreur{
    text-align: center;
    visibility: hidden;
}

mat-form-field{
    width: 50vw;
}